[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "==4.0.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
psycopg2 = "*"
django-dotenv = "==1.4.2"
django-allauth = "*"
django-tailwind = "*"

[requires]
python_version = "3.8"
