{% extends 'base.html' %}


{% block page_name %}{{room.name}}{% endblock page_name %}

{% block content %}


<div>

    <p>{{room.name}}</p>
    {{room.description}}
</div>

<div>

    <h2>By {{room.host.username}}</h2>

    {% if room.host.superhost %}
    (superhost)
    {% endif %}
    <h3>Amenties</h3>
    {% for a in room.amenties.all  %}
    <li>{{a}}</li>
    {% endfor %}

    <h3>Facilities</h3>
    {% for f in room.facilities.all  %}
    <li>{{f}}</li>
    {% endfor %}
    <h3>House Rules</h3>ö
    {% for h in room.houseRules.all  %}
    <li>{{h}}</li>
    {% endfor %}
</div>
{% endblock content %}